<!DOCTYPE ejs>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="posts.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <title>Posts</title>
</head>

<body>
    <header class="nav-container"><%- include("nav.ejs", {}) %></header>
        <div class="main-container">
            <div class="input-container">
                <form method="POST" action="/upload" enctype="multipart/form-data">
                    <div><input name="theme" type="text" placeholder="Your Theme:"></div>
                    <div><textarea name="text" placeholder="Leave your thoughts HERE:"></textarea></div>
                    <div class="tags"><p>Select One Tag:</p></div>
                    <div class="tags"><select class="select1" name="tags" size="5" required>
                        <% allTags.forEach((t) => { %>
                            <option class="opt1" value="<%= t %>"><%= t %></option>
                        <%  }); %>
                    </select></div>
                    <div class="file-select">
                        <label for="imgUpload" class="selectButton">Select Image</label>
                        <input type="file" class="oldButton" id="imgUpload" name="theimage" accept="image/*"></div>
                    <div><input type="submit" name="submitbutton" value="Submit"></div>
                </form>
            </div>
        </div>
        <div class="app-container">
            <div class="tags">
                <div><h1>Thread Categories:</h1></div>
                <div>
                <form method="GET" action="/posts" enctype="multipart/form-data">
                    <select class="select2" name="filterTag" size="6" onchange="this.form.submit()">
                        <% filter.forEach((s) => { %>
                            <option class="opt2" value="<%= s %>"><%= s %></option>
                        <% }); %>
                    </select>
                </form>
                </div>
            </div>
            <% for(let i=0; i < arrayToBeSent.length; i++){ %>
                <% if(!filterTag || filterTag === "All Tags 全部标签" || filterTag === arrayToBeSent[i].tags){%>
                    <div class="message-item">
                        <!--different containers iterate within for loop-->
                        <div class="date">
                            <%= arrayToBeSent[i].date %>
                        </div>
                        <div class="Showtags">
                           【<%= arrayToBeSent[i].tags %>】
                        </div>
                        <div class="theme-container">
                            <%= arrayToBeSent[i].theme %>
                        </div>
                        <div class="messages-container">
                            <% if(arrayToBeSent[i].imgSrc)%>
                                <div class="item-image">
                                    <img src="<%= arrayToBeSent[i].imgSrc %>">
                                </div>
                                <div class="message">
                                    <%= arrayToBeSent[i].text %>
                                </div>
                        </div>
                    </div>
                    <% } %>
                <% } %>
        </div>
</body>

</html>